<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>添加商品</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vector.js}"></script>

</head>
<body>

<div id="container">
	<div id="output">
		<div class="left" th:object="${u}">
   			<p th:text="'用户编号：' + *{userid}+'&nbsp;&nbsp;用户姓名：' + *{username}+'&nbsp;&nbsp;用户种类：' + *{usertype}"/>
   		</div>
   		<div class="right">
   			<a href="/login.html">注销</a>
		</div>
		<div class="containerT">
			<h1>添加商品</h1>
			<form class="form" id="entry_form" action="/user/newcommodity" method="post">
				<div th:object="${u}">
					<input type="hidden" name="ownmanid" th:value=*{userid}>
					<input type="hidden" name="username" th:value=*{username}>
					<input type="hidden" name="usertype" th:value=*{usertype}>
				</div>
				<input name="comname" type="text" placeholder="商品名字" required id="entry_name">
				<input name="details" type="text" placeholder="商品描述" required id="entry_name">
				<input name="comtype" type="text" placeholder="商品类型" required id="entry_name">
				<input name="price" type="text" placeholder="商品价格" required id="entry_name">
				<input type="submit" value="添加商品" id="entry_btn">
				<div id="prompt" class="prompt"></div>
			</form>
			
			<form class="form" id="entry_form" action="/user/login" method="post">
				<div th:object="${u}">
					<input type="hidden" name="username" th:value=*{username}>
					<input type="hidden" name="password" th:value=*{password}>
				</div>
				<input type="submit" value="返回" id="entry_btn">
				<div id="prompt" class="prompt"></div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function(){
        Victor("container", "output");   //登录背景函数
        $("#entry_name").focus();
        $(document).keydown(function(event){
            if(event.keyCode==13){
                $("#entry_btn").click();
            }
        });
    });
</script>
<div style="text-align:center;">

</div>
</body>
</html>